node_modules
tools
board/**/Debug/*
!board/**/Debug/src/
!board/**/Debug/*.mk
!board/**/Debug/*.ld
!board/**/Debug/makefile

board/**/Debug/src/*
!board/**/Debug/src/*.mk

package-lock.json
core/runtime/sourcecode.json
releases